* {
    margin: 0;
    padding: 0;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/main/login.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin-right: 6%;
    margin-top: 7%;
    margin-left: 26%;
    margin-bottom: 1%;
    background: #fff;
    padding: 5px;


}
.button-box{
    width: 400px;
    margin: -460px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
} 