* {
    margin: 0;
    padding: 0;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/main/login.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin-right: 2%;
    margin-top: 7%;
    margin-left: 21%;
    margin-bottom: 1%;
    background: #fff;
    padding: 5px;


}

.button-box {
    width: 209px;
    margin-bottom: 70%;
    margin-left: 27%;
    margin-top: -31%;
    margin-right: 5%;


    position: relative;
    box-shadow: 0 0 20px 9px #3748c91f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    margin-bottom: 70%;
    margin-left: 27%;
    margin-top: -31%;
    margin-right: 5%;


  
    background: linear-gradient(to right, #1b31d51f, #0819981f);
    border-radius: 30px;
    transition: .5s;
}