*{
    padding: 0;
    margin: 0;
    /* color: ; */
    text-decoration: none;
    font-family: roboto;
    
}
/* )))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))
))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))
section 1 nav bar  */
.nav{
    top: 0;
    width: 100%;
    padding: 5px;
    height: 80px;
    position: fixed;
    /* background-color: #91c8e4; */
    background-color: #4682A9;
    display: flex;
    flex-direction:row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    z-index: 9999;
    

}
#main{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    /* flex-direction:row; */
    justify-content: center;
}
#page{
    text-align: center;
}
#page h1{
    font-size: 100px;
    color: white;
    text-transform: uppercase;
}
#page p{
    font-size: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.nav ul{
    display: flex;
    flex-direction:row;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: space-around; 
    list-style: none;
    position: relative;
}

ul li{
  display: inline-block;
  position: relative;
}
ul li a{
    color: rgb(255, 255, 255);
    padding: 8px 12px;
    margin: 0 10px;
    position: relative;
    /* background-color: black; */
    text-decoration: none;
    text-transform: uppercase;
    /* position: relative; */
    
}
ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px; /* Adjust this thickness as needed */
    background-color: black; 
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out; 
  }
  
  ul li a:hover::after {
    width: 100%;
  }
  /* *************888888888888888888888888888888888888888888888888888
  *************8888888888888888888888888888888888888888888888888888888
  submenu */
  .dropdown {
    position: relative;
  }
  
  .dropbtn {
    cursor: pointer;
  }
  
  .dropdown-content {
    margin-top: 35px;
    display: none;
    position: absolute;
    background-color: #4682A9;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
  }
  
  
  
  /* Show dropdown content on click */
  .open {
    display: block;
  }
  /* *************88888888888888888888888888888888888888888888888
  *************888888888888888888888888888888888888888888888888
  submenu */
.logo{
    padding-left: 5px;
    height: 53px;
    width: 100px;
    border-radius: 5px;
}
.logo img{
    border-radius: 5px;
}
.back-vid{
    right: 0;
    z-index: -222;
    position: absolute;
    top: -14px;
}
@media(min-aspect-ratio:16/9)
{
    .back-vid{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9)
{
    .back-vid{
        width: auto;
        height: 100%;
    }
}
#vid{
    top: 90px;
}
/* ))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))00)))))))))))))))))))))))))))
)))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))0000)))))))))))) */
section{
    width: 100%;
    height: 100vh;
}