<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/admin-product.css">
    <title>products</title>
</head>

<body>
    <section>
        <nav>
            <ul>
                <li>
                    <a href="/admin/products">products</a>
                </li>
                <li>
                    <a href="#">profile</a>
                </li>
                <li>
                    <a href="#">sale</a>
                </li>
                <li>
                    <a href="#">manage</a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="products-manage">
                <form class="addnew" action="#"  enctype="multipart/form-data" method="post">
                    <h4>Add New Products</h4>
                    <p>Name of Product</p>
                    <input placeholder="Name" name="name" type="text">
                    <p>Details</p>
                    <input placeholder="details" name="details" type="text">
                    <p>Price</p>
                    <input placeholder="price" name="price" type="Number">
                    <input placeholder="offer_price" name="offer_price" type="Number">
                    <input placeholder="discount" name="discount" type="Number">
                    <p>Images</p>
                    <input type="file" name="images[]" placeholder="Image" multiple/>
                    <input type="file" name="images[]" placeholder="Image">
                    <input type="file" name="images[]" placeholder="Image">
                    <P>Category</P>
                    <div class="Category">
                        <label for="Category">Select Category</label>
                        <select id="size" name="category" name="size">
                            <option value="PANTS">PANTS</option>
                            <option value="SHIRTS">SHIRTS</option>
                            <option value="SNEAKERS">SNEAKERS</option>
                        </select>
                    </div>
                    <input id="submit" type="submit">
                </form>
            </div>
        </main>
    </section>
    <script src="../javascripts/admin.js"></script>
</body>

</html>