<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="sweetalert2.min.css" />
    <link rel="stylesheet" href="../css/main/main.css" />
    <link rel="stylesheet" href="../css/main/about.css" />
    
    <title>contact</title>
    <style>
        section {
            height: 100vh;
        }
        .message {
            max-width: 600px;
            margin: auto;
            padding: 1em;
            border-radius: 1em;
            text-align: center;
            display: none;
        }
        </style>
  </head>
  <body>
      <nav class="nav">
          <div class="logo">
              <a href="/">
                  <img src="../assets/main/logo1.png" class="logo" />
                </a>
            </div>
            <ul id="navbar">
                <li>
                    <a class="a" href="/product"> SHOP</a>
                </li>
                <li>
                    <a class="a" href="/about"> About</a>
                </li>
                <li>
                    <a class="a" href="/contact"> contact us</a>
                </li>
            </ul>
            <div class="log">
                <ul>
                    <li>
                        <a href="/bag"
                        ><i class="fa-solid fa-cart-shopping" style="color: #ffffff"></i
                            ></a>
                        </li>
                        <li class="dropdown">
                            <% if (isAuthenticated) { %>
                                <!-- If the user is authenticated, show profile and logout links -->
                                <a href="#" class="dropbtn"
                                >Welcome, <%= user && user.username %></a
                                >
                                <div class="dropdown-content">
                                    <a href="/profile/<%= encodeURIComponent(user._id) %>">Profile</a>
                                    <a href="/logout">Logout</a>
                                </div>
                                <% } else { %>
                                    <!-- If the user is not authenticated, show login and register links -->
                                    <a href="#" class="dropbtn">Log In</a>
                                    <div class="dropdown-content">
              <a href="/register">Register</a>
              <a href="/login" id="login-link">Log In</a>
            </div>
            <% } %>
        </li>
    </ul>
</div>
<div class="menuBtn">
    <i
    id="MenuBtn"
    class="fa-solid fa-bars fa-xl"
    style="color: #ffffff"
    ></i>
</div>

    </nav>
    <section>
      <div class="container">
        <h1>Contact Us</h1>
        <p>
          If you have any questions or would like to get in touch with us,
          please use the form below:
        </p>
        <div id="message" class="message"></div>
        <form id="contactForm">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
          <label for="message">Message</label>
          <textarea
            id="messageInput"
            name="message"
            rows="5"
            required
          ></textarea>
          <button id="btn" type="submit">Send</button>
        </form>
      </div>
    </section>
    <footer id="footer">
      <div class="col">
        <img class="logo" src="../assets/main/logo1.png" alt="" />
        <h4><strong>CONTACT :</strong></h4>
        <p>
          <strong>ADDRESS:</strong>The FFF 410 Terry Ave N, Seattle 98109, WA.
        </p>
        <p><strong>PHONE:</strong>763847343,45345353</p>
        <p><strong>HOURS:</strong>10:00 to 19:00 mon.to fri.</p>
        <div class="follow">
          <h4>Follow</h4>
          <div class="follow-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-github"></i>
          </div>
        </div>
      </div>
      <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms and Conditions</a>
      </div>
      <div class="col install">
        <h4>Install</h4>
        <p>from app store or google play</p>
        <div class="row">
          <img src="../assets/pay/app.jpg" alt="" />
          <img src="../assets/pay/play.jpg" alt="" />
        </div>
        <p>from app store or google play</p>
        <img src="../assets/pay/pay.png" alt="" />
      </div>
      <div class="copyright">
        <p>© Copyright Dhananjay kakade 2023</p>
      </div>
    </footer>
  </body>

  <script src="../javascripts/main/contact.js"></script>
</html>
