*{
    padding: 0;
    margin: 0;
    /* color: ; */
    text-decoration: none;
    font-family: roboto;
    
}

body::-webkit-scrollbar {
    display: none;
  
  }
  body{
    overflow-x: hidden; /* Hide scrollbars */
    scrollbar-width: none; 
  }
/* **********************************************************************************************************
navbar */
.nav{
    top: 0;
    width: 100%;
    padding: 5px;
    height: 80px;
    position: fixed;
    /* background-color: #91c8e4; */
    background-color: #4682A9;
    display: flex;
    flex-direction:row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    z-index: 9999;
    

}
#main{
  max-height: 200vh;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    /* flex-direction:row; */
    justify-content: center;
}
#page{
    text-align: center;
}
#page h1{
    font-size: 100px;
    color: white;
    text-transform: uppercase;
}
#page p{
    font-size: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.nav ul{
    display: flex;
    flex-direction:row;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: space-around; 
    list-style: none;
    position: relative;
}

ul li{
  display: inline-block;
  position: relative;
}
ul li a{
    color: rgb(255, 255, 255);
    padding: 8px 12px;
    margin: 0 10px;
    position: relative;
    /* background-color: black; */
    text-decoration: none;
    text-transform: uppercase;
    /* position: relative; */
    
}
ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px; /* Adjust this thickness as needed */
    background-color: black; 
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out; 
  }
  
  ul li a:hover::after {
    width: 100%;
  }
/* **********************************************************************************************************
navbar */
 /* *************888888888888888888888888888888888888888888888888888
  *************8888888888888888888888888888888888888888888888888888888
  submenu */
  .dropdown {
    position: relative;
  }
  
  .dropbtn {
    cursor: pointer;
  }
  
  .dropdown-content {
    margin-top: 35px;
    display: none;
    position: absolute;
    background-color: #4682A9;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
  }
  
  
  
  /* Show dropdown content on click */
  .open {
    display: block;
  }
  /* *************88888888888888888888888888888888888888888888888
  *************888888888888888888888888888888888888888888888888
  submenu */
.logo{
    padding-left: 5px;
    height: 53px;
    width: 100px;
    border-radius: 5px;
}
.logo img{
    border-radius: 5px;
}
/* *!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
footer */ */
.footer{
    background-color: 91C8E4;
    width: 100%;
    height: 50vh;
  }
footer{
    padding: 30px;
    max-height: 50vh;
    background-color: #91C8E4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
   flex-direction: column;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    /* margin-top: 30px; */
    margin-bottom: 30px;
    /* left: -1%; */
    /* padding-left: 5px; */
    height: 53px;
    width: 100px;
    border-radius: 5px;
}
footer h4{
    padding-bottom: 20px;
    font-size: 15px;
}
footer p{
    font-size: small;
    margin-top: 2px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid rgb(82, 82, 255);
    border-radius: 5px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer a{
    text-decoration: none;
    color: black;
    margin-top: 2px;
}
footer .follow i:hover,
footer a:hover{
  color: aliceblue;
}

footer .copyright{
    bottom: 0%;
    text-align: center;
    width: 100%;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
footer */

/* ********************************************************************************** */

section{
    width: 100%;
    height: 120vh;
}
#main{
   margin-top: 140px;
    /* top: 20vh; */
    display: flex;
    justify-content:space-around;
    background-color: white;
    
}
.product-details{
    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:space-around;
}
.details{
    width: 50%;
    height: 100vh;
}
.text-details{
    padding-top: 20px;
    text-align: left;
}
del{
    text-decoration: line-through ;
    color: #7e8285;
}
.text-details h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.text-details p{
    margin-top: 10px;
    
}
#mrp{
    font-weight: 700;
}
#tax{
    color: #3b3c3d;
}
.size-selector {
    margin-top: 10px;
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 8px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  select {
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #buy{
    margin-top: 10px;
  }
#buy button{
    border-radius: 15px;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    color: #fff;
    background-color: black;
    cursor: pointer;
}
#buy button:hover{
    background-color: #fff;
    color: black;
    border: 3px solid black;
}
.delivery{
    text-align: left;
    margin-top: 20px;
    width: 70%;
   
    padding-bottom: 10px;
}

.delivery h4{
    text-align: center;
    padding: 4px;
    margin-bottom: 10px;
   
}
.details-pro{
    margin-top: 20px;
    width: 70%;
    text-align: left;
    padding-bottom: 10px;
   
}
.details-pro h4{
    text-align: center;
    padding: 4px;
    margin-bottom: 10px;
   
}
/* ********************************************************************************** */
.swiper {
    border-radius: 10px;
    width: 500px;
    height: 500px;
    
  }
  

  .swiper-slide {
    
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .swiper-slide img {
    background-size: cover;
    background-position: center;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* carousel***************************************************************** */


@media only screen and (max-width: 768px) {
  body{
    max-width: 100%;
    overflow-x: hidden;
  }
#main{
  height: 150vh;
  flex-direction: column;
}

  #main .dis{
    overflow-x: hidden;

    max-width: 100%;
    flex-direction: column;
  }
  .menuBtn {
    display: block;
    margin: 20px;
  }
  .logo {
    display: none;
  }
  nav {
    background-color: transparent;
    max-width: 100%;
    height: 100vh;
    position: relative;
  }
  #navbar {
    right: -500px;
    top: 90;
    position: absolute;
    z-index: 999;
    width: 300px;
    height: 300px;
    background-color: #4682a9;
    display: flex;
    color: #fff;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease-in-out;
  }
  #navbar li {
    top: 0;
    z-index: 999;
    color: #fff;
  }

  #offer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .fridaysale h1 {
    font-size: 100px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
  }
  .fridaysale {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  #footer {
    max-height: 100vh;
  }
  .product-details{
    overflow-x: hidden;
    height: 200vh;
    flex-direction: column;
  }
  .swiper {
    
    width: 100%;
    height: 400px;
    
  }
  .details{
    padding-left: 50px;

    width: 100%;

}
#buy button{
margin-left: 50px;
}
.spacer{
  margin-left: 50px;
}
}
.spacer{
  margin-top: 20px;
  margin-left: 23%;
  width: 200px;
  height: 1px;
  border-radius: 1px;
  background-color: rgb(220, 220, 220);
}
.menuBtn{
  display: none;
}