*{
    padding: 0;
    margin: 0;
    /* color: ; */
    text-decoration: none;
    font-family: roboto;
    
  }
  body::-webkit-scrollbar {
  display: none;
  
  }
  body{
  overflow-x: hidden; /* Hide scrollbars */
  scrollbar-width: none; 
  }
  
  .nav{
    top: 0;
    width: 100%;
    padding: 5px;
    height: 80px;
    position: fixed;
    /* background-color: #91c8e4; */
    background-color: #4682A9;
    display: flex;
    flex-direction:row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    z-index: 9999;
    
  
  }
  #main{
  overflow: hidden;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    /* flex-direction:row; */
    justify-content: center;
  }
  #page{
    text-align: center;
  }
  #page h1{
    font-size: 100px;
    color: white;
    text-transform: uppercase;
  }
  #page p{
    font-size: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  .nav ul{
    display: flex;
    flex-direction:row;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: space-around; 
    list-style: none;
    position: relative;
  }
  
  ul li{
  display: inline-block;
  position: relative;
  }
  ul li .a{
    color: rgb(255, 255, 255);
    padding: 8px 12px;
    margin: 0 10px;
    position: relative;
    /* background-color: black; */
    text-decoration: none;
    text-transform: uppercase;
    /* position: relative; */
    
  }
  ul li .a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px; /* Adjust this thickness as needed */
    background-color: black; 
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out; 
  }
  
  ul li .a:hover::after {
    width: 100%;
  }
  /* *************888888888888888888888888888888888888888888888888888
  *************8888888888888888888888888888888888888888888888888888888
  submenu */
  .dropdown {
    position: relative;
  }
  
  .dropbtn {
    color: rgb(255, 255, 255);
    padding: 8px 12px;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
  }
  .dropbtn::after {
    content: '';
    display: block;
    width: 0;
    height: 3px; /* Adjust this thickness as needed */
    background-color: black; 
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out; 
  }
  
  .dropbtn:hover::after {
    width: 100%;
  }
  
  .dropdown-content {
    left: -40px;
    margin-top: 35px;
    display: none;
    position: absolute;
    background-color: #4682A9;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content a {
    
    text-transform: uppercase;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
  }
  
  
  
  /* Show dropdown content on click */
  .open {
    display: block;
  }
  /* *************88888888888888888888888888888888888888888888888
  *************888888888888888888888888888888888888888888888888
  submenu */
  .logo{
    padding-left: 5px;
    height: 53px;
    width: 100px;
    border-radius: 5px;
  }
  .logo img{
    border-radius: 5px;
  }
  .back-vid{
    right: 0;
    z-index: -222;
    position: absolute;
    top: -15px;
  }
  @media(min-aspect-ratio:16/9)
  {
    .back-vid{
        width: 100%;
        height: auto;
    }
  }
  @media(max-aspect-ratio:16/9)
  {
    .back-vid{
        width: auto;
        height: 100%;
    }
  }
  #product{
    width: 100%;
    height: 100vh;
  }
  #main img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .fridaysale{
    top: 50%;
    margin-left: 10%;
  }
  .fridaysale h1{
    top: 200px;
    left: 0%;
    font-size: 100px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  }
  .fridaysale p{
    top: 200px;
    margin-left: -800px;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  }
  #offer{
    background-image: url(../assets/main/p1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover; 
  background-repeat: no-repeat; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  }
  .hidden{
    opacity: 0;
    transition: all 1s;
  }
  .show{
    opacity: 1;
  }
  /* #sale-card{
  margin-top: 50px;
  width: 430px;
    height: 300px;
  }
  #sale-card img{
  box-shadow: 10px 10px 22px rgb(0, 0, 0);
  border-radius: 10px;
  background-size: cover; 
    width: 430px;
    height: 300px;
    transition: transform 0.3s ease-in-out;
  } */
  
  #products{
    
    background-color: white;
    width: 100%;
    height: 100vh; 
  min-height: 100vh;
  /* display: flex; */
  /* align-content: center;
  align-items: center;
  justify-content: center; */
  /* flex-direction: column; */
  }
  .products h1{
    margin-top: 2.5rem;
    text-align: center;
    font-size: 32px;
  
    
  } 
  .products p{
    font-size: 20px;
    margin-top: 0.5rem;   
    text-align: center;
  }
  #product .container{
    
    margin: 30px 20px 20px 20px;
    /* width: 100%; */
    height: 400px;
    /* background-size: cover; */
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* align-content: center; */
  }   
  #product .card{
    position: relative;
    width: 250px;
    height: 300px;
    transition: transform 0.3s ease;
    text-align: center;
    overflow: hidden;
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
  }
  
  #product .container img{
    
    background-size: cover; 
    width: 250px;
    height: 300px;
    transition: transform 0.3s ease-in-out;
    /* overflow: hidden; */
    
  }
  .card:hover .card-img {
  transform: scale(1.1);
  }
  
  .card:hover {
    transform: scale(1.1); /* Zoom in on hover */
  }
  
  
  #product .cards .card h2{
    font-size: 1.5em;
  }
  #product .cards .card p{
    margin-top: 10px;
  }
  .card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  }
  .card:hover .card-img-overlay {
  opacity: 1;
  }
  .card-content {
    text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  padding-right: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
  }
  
  .card:hover .card-content {
  transform: translateY(0);
  }
  .footer{
    background-color: 91C8E4;
    width: 100%;
    height: 50vh;
  }
  /* *********************************************
  ***********************************************
  carousel */
  .container-caro{
    height: 500px;
    margin-top: 2rem;
    padding: 2rem;
    /* left: 0%; */
    margin-left: -700px;
    
  }
  .swiper {
    width: 300px;
    height: 410px;
    padding: 50px;
    
  }
  
  .swiper-slide {
    border-radius: 10px;
    text-align: center;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    max-height: 380px;
    box-shadow: 10px 10px 10px rgb(34, 33, 33);
  }
  .swiper-slide h2{
    font-size: 20px;
    padding: 3px;
    margin-bottom: 5px;
    color: white;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .swiper-slide img {
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    background-size: cover; 
    width: 300px;
    height: 350px;
    
    /* padding: 50px; */
  }
  
  /* **********************************************
  ***************************end carousel
  ******************************************8** */
  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  footer */
  footer{
  padding: 30px;
  max-height: 50vh;
  background-color: #91C8E4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  footer .col{
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  }
  footer .logo{
  /* margin-top: 30px; */
  margin-bottom: 30px;
  /* left: -1%; */
  /* padding-left: 5px; */
  height: 53px;
  width: 100px;
  border-radius: 5px;
  }
  footer h4{
  padding-bottom: 20px;
  font-size: 15px;
  }
  footer p{
  font-size: small;
  margin-top: 2px;
  }
  footer .follow{
  margin-top: 20px;
  }
  footer .follow i{
  padding-right: 4px;
  cursor: pointer;
  }
  footer .install .row img{
  border: 1px solid rgb(82, 82, 255);
  border-radius: 5px;
  }
  footer .install img{
  margin: 10px 0 15px 0;
  }
  footer a{
  text-decoration: none;
  color: black;
  margin-top: 2px;
  }
  footer .follow i:hover,
  footer a:hover{
  color: aliceblue;
  }
  footer .copyright{
  bottom: 0%;
  text-align: center;
  width: 100%;
  }
  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  footer */